body{
  background-image: url("img/background/literature.jpg");
  height: 100%;
  background-attachment: fixed;
}

nav ul{
  font-family: 'Dosis', sans-serif;
}

.row.white{
  margin-top: 75vh;
  padding-top: 5%;
  padding-bottom: 5%;
}
.footer{
  margin-top: 25vh;
}

.icons{

  margin-left: 50px;
}
span{
  text-decoration-color: black;
}
 footer img {
   height: 25px;
   width: 25px;
 }
