body{
  background-image: url("img/background/literature.jpg");
  height: 100%;
  background-attachment: fixed;
}

nav ul{
  font-family: 'Dosis', sans-serif;
}

.row.white{
  margin-top: 75vh;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer{
  margin-top: 25vh;
}

.icons{
  margin-left: 50px;
}

span{
  color: #000000;
  font-family: 'Dosis', sans-serif;
}

 footer img {
   height: 30px;
   width: 30px;
 }
 
 .footer-copyright{
   background-color: white;
 }
